@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered table-striped table-info table-responsive">
    <tr>
        <th>نام</th>
        <th>توضیحات</th>
    </tr>
    <tr>
        <td>نام کاربر</td>
        <td>@authenticatedUser.Name</td>
    </tr>
    <tr>
        <td>شناسه کاربری</td>
        <td>@authenticatedUser.UserId</td>
    </tr>
    <tr>
        <td>IsAuthenticated</td>
        <td>@authenticatedUser.IsAuthenticated</td>
    </tr>
    <tr>
        <td>token</td>
        <td>@authenticatedUser.Token</td>
    </tr>
    <tr>
        <td>IsInRole</td>
        <td>
            admin -> @authenticatedUser.IsInRole("admin")
            <br />
            saman -> @authenticatedUser.IsInRole("saman")
        </td>
    </tr>
</table>